name: Sentry release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sentry _release:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: https://www.test.com/
      NEXTAUTH_SECRET: test
      NEXTAUTH_URL: https://www.test.com/
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Create Sentry release
      uses: getsentry/action-release@v1
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
        SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        # SENTRY_URL: https://sentry.io/
      with:
        environment: production